@media screen and (max-width: 413px) {
  
  .container_Capacete_Pergunta{
    
    display: block;
    height: 300px;
    border: 1px;
    border-style: solid;
    border-color:rgba(192,192,192,0.1);
  }
  
  .capacete{
    border-collapse: separate;
    height: 80px;
    width: 80px;
    border-style: solid;
    border-color:rgba(192,192,192,0.1);  
  }
  .capacete img{
    height: 120px;
    width: 100px;
  }
  .pergunta-container{
    background-image: url(../imags/fundochat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-left: 20px;
    margin-bottom: 30px;
    text-align: center;
    border-style: solid;
    border-color:rgba(192,192,192,0.1);
  }
  .pergunta-container p{
    margin-top: 110px;
  }

}
@media screen and (min-width: 414px) {

  .container_Capacete_Pergunta{
    
    display: block;
    width: 500px ;    
    height: 380px;
    border: 1px;
    border-style: solid;
    border-color:rgba(192,192,192,0.1);
  }
  
  .capacete{
    border-collapse: separate;
    height: 80px;
    width: 80px;
    border-style: solid;
    border-color:rgba(192,192,192,0.1);
  
  }
  .capacete img{
    height: 120px;
    width: 120px;
  }
  .pergunta-container{
    background-image: url(../imags/fundochat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-left: 35px;
    padding-top: 120px;
    width: 450px;
    height: 150px;
    text-align: center;
    border-style: solid;
    border-color:rgba(192,192,192,0.1);
  }
  .pergunta-container p{
    font-size: xx-large;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;

  }

}